* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4D1FD5;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-search {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.city-search input{
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    outline: none;
}

.city-search button{
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    background-color: lightblue;
}

.city-search button:hover{
    background-color: #4D1FD5;
    color: white;
}

.city-search input:focus{
    border: 2px solid #4D1FD5;
}

#weather-info {
    border: 2px solid #4D1FD5;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weather-info h2 {
    font-size: 24px;
    font-weight: bold;
}

#forecast {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#forecast div {
    background-color: #280D78;
    color: white;
    padding: 10px;
    margin: 20px;
    width: calc(20%-20px);
    text-align: center;
    box-sizing: border-box;
}